/* !!!TO EDIT!!! */

/* change id to whichever page it is on (#home-symbol, #profile-symbol, #filter-symbol) delete if none (creating post siguro none) */
#home-symbol {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
/* change class to whichever page it is on (.home, .profile, .filter) delete if none (creating post siguro none) */
.home{
    font-weight: 700;
}




/* GENERAL */
*{
    font-family: "syne";
    font-size: 16px;
    margin: 0;
    color: rgb(77, 77, 77);
}

ul, li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

button{
    padding: 0;
}

.container{
    padding: 20px;
}

.content{
    padding: 20px;
    margin-left: 160px;
}


/* SEARCH */
.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background-color: #f6f6f6;
    
}

.search-input{
    border: none;
    outline: none;
    background: transparent;
    color: #333;
    margin-left: 14px;
    width: 300px;
}

/* NAV TOP */
.nav-top-container{
    background-color: #EE7C9A;
}

.nav-top-items{
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-top-items li:nth-child(2){
    margin: auto;
}

.logo{
    font-size: 40px;
    font-weight: bolder;
    margin-right: 20px;
    color: white;
}

/* NAV SIDE */
.nav-side-container{
    background-color: #ffcdda;
    height: 100%;
    width: 115px;
    position: fixed;
    top: 92px;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    
}

.nav-side-items-top{
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: 600;
}

.nav-side-items-top li{
    margin-bottom: 10px;
}

/* FILTER */
.dropbtn {
    font-weight: 600;
    border: none;
    background: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
}

.dropdown-content a:hover {
    color: #EE7C9A;
}
  
.show {
    display: block;
    margin-left: 30px;
}

/* ICONS */
.nav-side-items-top .material-symbols-outlined{
    margin-right: 14px;
    color: rgb(77, 77, 77);
}

.material-symbols-outlined{
    color: #8c8c8c;
    vertical-align: middle;
}

#search-symbol{
    color: #EE7C9A;
}



/* BUTTONS */
.button{
    width: 30px;
    border-radius: 28px;
}

.create-button{
    color: #9F0840;
    background-color: white;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 100px;
}

.signup-button{
    color: #32000C;
    outline: solid #9F0840 2px;
    padding: 8px;
    padding-left: 29px;
    padding-right: 29px;
    line-height: 70px;
}

.login-button{
    color: white;
    background-color: #FB4570;
    padding: 8px;
    padding-left: 35px;
    padding-right: 35px;
}
