<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" post-content="width=device-width, initial-scale=1.0">
    <!-- icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- styles -->
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/viewall.css">
    <link rel="stylesheet" href="/recent.css">
    
    <!-- scripts -->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="scripts/index.js"></script>
    <script src="scripts/viewone.js"></script>

    <title>Girls</title>
</head>
<body>
    <!-- top navigation -->
    <nav class="nav-container nav-top-container">
        <ul class="nav-top-items">
            <li>
                <a id="logo" href="/indexloggedin">GIRLS</a>
            </li>
            <li>
                <form action="searchloggedin.html">
                    <div class="search">
                        <span class="material-symbols-outlined" id="search-symbol">search</span>
                        <input type="search" class="search-input" placeholder="search (# for tags)">
                    </div>
                </form>
            </li>
        </ul>
    </nav>
    <!-- top navigation end -->

    <div class="wrapper">
        <!-- side navigation -->
        <nav class="nav-container nav-side-container">
            <ul class="nav-side-items">
                <li class="nav-symbol">
                    <a class="nav-symbol-button" id="home-button" href="/indexloggedin">
                        <span class="material-symbols-outlined" id="home-symbol">home</span> Home
                    </a>
                </li>
                <li class="nav-symbol">
                    <a class="nav-symbol-button" id="profile-button" href="viewprofile.html">
                        <span class="material-symbols-outlined" id="profile-symbol">person</span>Profile
                    </a>
                </li>
                <li class="nav-symbol">
                    <button onclick="filter()" class="nav-symbol-button" id="filter-button">
                        <span class="material-symbols-outlined" id="filter-symbol">
                        filter_alt
                        </span>
                        Filter
                    </button>
                    <div class="dropdown-content" id="myDropdown">    
                        <a class="recent" id="recent-button" href="recentloggedin.html">Recent</button>
                        <a class="popular" id="popular-button" href="popularloggedin.html">Popular</button>
                    </div>    
                </li>
                <li>
                    <a class="nav-button" id="create-button" href="createpost.html">Create Post</a>
                </li>
                <li>
                    <a class="nav-button" id="logout-button" href="/index">Log Out</a>
                </li>
            </ul>           
        </nav>
        <!-- side navigation end -->
    
        
        <!-- content -->
        <div class="content">    
            <div class="head">
                <div id="home">
                    <span class="material-symbols-outlined">
                        schedule
                    </span>
                    <h1 id="hometext">Recent</h1>
                </div>
                <!-- <div class="seemore">
                    <p id="see">See More</p>
                    <span class="material-symbols-outlined" id="arrow">
                        arrow_forward
                        </span>
                </div> -->
            </div>

            <div class="allposts">
                <!-- post 1 -->
                <div class="post">
                    <div class="profile">
                        <img src="/barbie.jpg" class="dp">
                        <div class="headerpost">
                            <p class="handle">@barbie</p>
                            <a class="title" href="viewone.html">Ways to do your own makeup</a>
                        </div>
                    </div>
                    <div class="content">
                        <p class="text">Have you ever found yourself shopping for new beauty products and feeling totally confused over why there were so many options? Do you really need to contour your face and apply bronzer? What’s the difference between an eyebrow pencil and an eyebrow gel (and how do you even fill in your eyebrows)? After a while, your shopping cart can seem redundant, while every YouTube makeup tutorial can simply sound like noise. The good news? If you feel like this, you’re not alone. Whether you need a makeup for beginners tutorial, or you love trying all the latest beauty trends, we’re giving you a little refresh on all the basics. </p>
                    </div>
                    <div class="icons">
                        <div class="tagpost">
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagend</p>
                            </div>
                        </div>

                        <button type="button" class="icon" id="hearticon">
                            <span class="material-symbols-outlined" id="heart">
                                favorite
                            </span>
                        </button>
                        <button type="button" class="icon" id="bhearticon">
                            <span class="material-symbols-outlined" id="brokenheart" >
                                heart_broken
                            </span>
                        </button>
                        <button type="button" class="icon" id="commenticon" onclick="window.location.href = 'viewone.html';">
                            <span class="material-symbols-outlined" id="comment">
                                mode_comment
                            </span>
                        </button>
                    </div>
                </div>
                
                <!-- post 2 -->
                <div class="post">
                    <div class="profile">
                        <img src="/bubbles.jpg" class="dp">
                        <div class="headerpost">
                            <p class="handle">@bubbles</p>
                            <a class="title" href="viewone2.html">Where to buy thrift clothes?</a>
                        </div>
                    </div>
                    <div class="content">
                        <p class="text">It’s no secret that the fast fashion industry has been one of the world’s biggest waste contributors, bringing about harmful environmental impacts. According to the Fashion Revolution, the world disposes an equivalent of one garbage truck of textiles every second. On top of rampant textile waste pollution, the industry has also been a breeding ground for human rights issues — proof that growth and profit outweigh values. Opting for sustainable clothing is one way to slow down the negative effects of fast fashion. While there’s more work to be done, there’s a little bit of pride in knowing that you purchase clothes more consciously. That said, here are some of the best online vintage shops and thrift stores based in Manila that make sustainable shopping simple and easy!</p>
                    </div>
                    <div class="icons">
                        <div class="tagpost">
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagend</p>
                            </div>
                        </div>

                        <button type="button" class="icon" id="hearticon">
                            <span class="material-symbols-outlined" id="heart">
                                favorite
                            </span>
                        </button>
                        <button type="button" class="icon" id="bhearticon">
                            <span class="material-symbols-outlined" id="brokenheart" >
                                heart_broken
                            </span>
                        </button>
                        <button type="button" class="icon" id="commenticon" onclick="window.location.href = 'viewone2.html';">
                            <span class="material-symbols-outlined" id="comment">
                                mode_comment
                            </span>
                        </button>
                    </div>
                </div>
                
                <!-- post 3 -->
                <div class="post">
                    <div class="profile">
                        <img src="/aurora.jpeg" class="dp">
                        <div class="headerpost">
                            <p class="handle">@auroraprinsesa</p>
                            <a class="title" href="viewone3.html">Where can I get my nails done?</a>
                        </div>
                    </div>
                    <div class="content">
                        <p class="text">I want to start doing my own nails but I don’t know where to begin. Should I do gel? Is there a good nail system I can get? I just need some tips for an absolute beginner.</p>
                    </div>
                    <div class="icons">
                        <div class="tagpost">
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagend</p>
                            </div>
                        </div>

                        <button type="button" class="icon" id="hearticon">
                            <span class="material-symbols-outlined" id="heart">
                                favorite
                            </span>
                        </button>
                        <button type="button" class="icon" id="bhearticon">
                            <span class="material-symbols-outlined" id="brokenheart" >
                                heart_broken
                            </span>
                        </button>
                        <button type="button" class="icon" id="commenticon" onclick="window.location.href = 'viewone3.html';">
                            <span class="material-symbols-outlined" id="comment">
                                mode_comment
                            </span>
                        </button>
                    </div>
                </div>
                
                <!-- post 4 -->
                <div class="post">
                    <div class="profile">
                        <img src="/elsa.jpeg" class="dp">
                        <div class="headerpost">
                            <p class="handle">@elsabrr</p>
                            <a class="title" href="viewone4.html">How I depuff my face in the morning</a>
                        </div>
                    </div>
                    <div class="content">
                        <p class="text">I’ve dealt with facial swelling for as long as I can remember and in various forms. From waking up with a puffy face in the morning to allergy-induced inflammation, there’s no kind of facial swelling I haven’t dealt with—or treatment I haven’t tried to relieve it.
        
                            If you can relate, you’re in the right place, and I can assure you there is light at the end of the big-face tunnel. After years of trial and error, I learned that a combination of daily face massage, avoiding food allergies, and learning to manage my sinus infections pretty much keeps my bloated face at bay. Of course, it still makes an unexpected comeback every now and then. I’ pretty puffy as I write this, in fact. Is it my period or because I stopped my allergy meds for an allergy patch test? Who knows?
                            
                            Fortunately I’ve learned exactly how to depuff my face—and fast. Here’s everything you need to know about how to get rid of a puffy face, plus how prevent it from happening in the first place, according to experts.</p>
                    </div>
                    <div class="icons">
                        <div class="tagpost">
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagend</p>
                            </div>
                        </div>

                        <button type="button" class="icon" id="hearticon">
                            <span class="material-symbols-outlined" id="heart">
                                favorite
                            </span>
                        </button>
                        <button type="button" class="icon" id="bhearticon">
                            <span class="material-symbols-outlined" id="brokenheart" >
                                heart_broken
                            </span>
                        </button>
                        <button type="button" class="icon" id="commenticon" onclick="window.location.href = 'viewone4.html';">
                            <span class="material-symbols-outlined" id="comment">
                                mode_comment
                            </span>
                        </button>
                    </div>
                </div>
        
                <!-- post 5 -->
                <div class="post">
                    <div class="profile">
                        <img src="/moana.jpg" class="dp">
                        <div class="headerpost">
                            <p class="handle">@moanaaa</p>
                            <a class="title" href="viewone5.html">Local makeup brands that are affordable</a>
                        </div>
                    </div>
                    <div class="content">
                        <p class="text">We’ve seen a lot of new local makeup brands popping out in malls and social media for the past years. Some brands are available only online while others have been in the market for quite some time. From celebrity-owned brands to organic cosmetics, these are the local makeup products that you should give a try!
                            Happy Skin is one of the favorite homegrown brands of makeup. All of their products are infused with top-notch skincare ingredients from beauty capitals all over the world. Happy Skin has collaborated with local celebrities in their collections, as well as with international brands Sanrio and Disney.
                            As one of the country’s finest and most innovative makeup line, Colourette Cosmetics redefined cosmetics to beautify and empower the modern-day women. The brand’s makeup products come in creative packaging, budget-friendly, and complements every Filipina skin tone.
                            SHE Cosmetics Philippines is a makeup brand by celebrity Kris Bernal. The brand was launched late last year and they introduced liquid cushion lipsticks. Kris knew that the colors should be perfect for her primary market which is the Philippines so she made the five shades perfect for any skin tone.
                            Pink Sugar goes beyond their creative packaging and catchy names by producing cosmetics that are free from animal testing and parabens. The selection of wearable colors available for each of Pink Sugar products have been expertly curated by makeup professionals to complete a woman's makeup collection and to complement the Filipina skin.
                        </p>
                    </div>
                    <div class="icons">
                        <div class="tagpost">
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tag</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagss</p>
                            </div>
                            <div class="onetag">
                                <p class="tagtext">tagend</p>
                            </div>
                        </div>
        
                        <button type="button" class="icon" id="hearticon">
                            <span class="material-symbols-outlined" id="heart">
                                favorite
                            </span>
                        </button>
                        <button type="button" class="icon" id="bhearticon">
                            <span class="material-symbols-outlined" id="brokenheart" >
                                heart_broken
                            </span>
                        </button>
                        <button type="button" class="icon" id="commenticon" onclick="window.location.href = 'viewone5.html';">
                            <span class="material-symbols-outlined" id="comment">
                                mode_comment
                            </span>
                        </button>
                    </div>
                </div>
                
            </div>
        </div>   
    </div>    
   
    
</body>
    
</html>