/* change id to whichever page it is on (#home-symbol, #profile-symbol, #filter-symbol) delete if none (creating post siguro none) */
#home-symbol {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
/* change class to whichever page it is on (.home, .profile, .filter) delete if none (creating post siguro none) */
#home-button{
    font-weight: 600;
}

* {
    font-family: "Syne";
    --pink1: #EE7C9A;
    --pink2: #F3CFD6;
    --pink3: #FFEBEB;
    --pink4: #9F0840;
    --pink5: #FB4570;
    --brown: #32000C;
}

#create {
    margin-top: 30px;
    width: 1000px;
    height: 500px;
    background-color: var(--pink2);
}

#content {
    margin: 20px 0 0 20px;
    height: 300px;
    width: 950px;
    border-radius: 10px;
    
}

#richtexteditor {
    background-color: var(--pink2);
    border-radius: 10px 10px 0 0; /*topleft, topright, botright, botleft */
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center; /*justify-content used to align things horizontally, align-items for vertical*/
    color: white;
}

#richtexteditor .btn {
    cursor: pointer;
    background-color: var(--pink2);
    
}

.btn {
    height: 30px;
    margin-left: 10px;
    border: 0px;
    outline: none;
    background-color: none;
    
    transition-duration: 0.4s;
}

.btn:hover {
    
    color: white;
}

#commentinput {
    height: 120px;
    padding: 15px;
    background-color: var(--pink3);
    border-radius: 0 0 10px 10px;
    overflow: auto;
    outline: none;
}

#commentinput img {
    max-width: 100%;
    max-height: 100%;
} 

.replybtn {
    margin-right: auto;
}

#commentbtn {
    height: 30px;
    margin-left: auto;
    margin-right: 20px;
    border: 0px;
    outline: none;
    background: none;
    transition-duration: 0.4s;
    border-radius: 10px;
    font-weight: 700;
    font-size: large;
    color: var(--pink5);
    cursor: pointer;
}

#commentbtn:hover {
    color: var(--pink1);
}

.add-comment, .comments{
    width: 200px;
    
}

.comment{
    font-size: x-large;
}

/* comments **********/
[contenteditable=true]:empty:before{
    content: attr(placeholder);
    pointer-events: none;
    font-size: 17px;
    opacity: 0.5;
    
}

.profile-container{
    display: flex;
    align-items: center;
}

.profile-picture {
    margin-right: 10px;
    object-fit: cover;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}



.comment {
    margin-top: 20px;
    margin-left: 20px;
    border-left: 3px solid var(--pink1);
    padding-left: 10px;
    margin-bottom: 10px;
    
}
.comment .reply {
    margin-top: 20px;
    margin-left: 20px;
    border-left: 3px solid var(--pink1);
    padding-left: 10px;
    
}

.comment button {
    margin-right: 20px;
    height: 30px;
    margin-left: auto;
    margin-right: 20px;
    border: 0px;
    outline: none;
    background: none;
    transition-duration: 0.4s;
    border-radius: 10px;
    font-weight: 500;
    font-size: medium;
    color: var(--pink5);
    cursor: pointer;
}

.collapse {
    display: none;
    
}
