* {
    font-family: "Syne";
    --pink1: #EE7C9A;
    --pink2: #F3CFD6;
    --pink3: #FFEBEB;
    --pink4: #9F0840;
    --pink5: #FB4570;
    --brown: #32000C;
    background-color: var(--pink3);
}

.post {
    margin: 10px 20px 10px 20px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dp {
    object-fit: cover;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.handle {
    font-size: 30px;
    margin: 0;
}

.title {
    font-size: 50px;
    margin: 0;
}

.headerpost {
    padding: 0 0 0 10px;
}

.content {
    width: 70%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 25px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.count {
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
}

.material-symbols-outlined {
    color: var(--pink4);
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48;
}

#heart, #brokenheart, #comment {
    color: var(--brown);
    font-size: 35px;
}

.icon {
    border: 0;
    background-color: var(--pink3);
}