

/* 
#create {
    margin-top: 30px;
    width: 1000px;
    height: 500px;
    background-color: var(--pink2);
}

#content {
    margin: 20px 0 0 20px;
    height: 300px;
    width: 950px;
    border-radius: 10px;
    
}

#richtexteditor {
    background-color: var(--pink2);
    border-radius: 10px 10px 0 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    margin-left: 20px;
}

#richtexteditor .btn {
    cursor: pointer;
    background-color: var(--pink2);
    
}

.btn {
    height: 30px;
    margin-left: 10px;
    border: 0px;
    outline: none;
    background-color: none;
    
    transition-duration: 0.4s;
}

.btn:hover {
    
    color: white;
}

#commentinput {
    height: 120px;
    padding: 15px;
    background-color: var(--pink3);
    border-radius: 0 0 10px 10px;
    overflow: auto;
    outline: none;
    margin-left: 20px;
}

#commentinput img {
    max-width: 100%;
    max-height: 100%;
} 

.replybtn {
    margin-right: auto;
}

#commentbtn {
    height: 30px;
    margin-left: auto;
    margin-right: 20px;
    border: 0px;
    outline: none;
    background: none;
    transition-duration: 0.4s;
    border-radius: 10px;
    font-weight: 700;
    font-size: large;
    color: var(--pink5);
    cursor: pointer;
}

#commentbtn:hover {
    color: var(--pink1);
}

.add-comment, .comments{
    width: 200px;
}

.comment{
    font-size: x-large;
} 
/* comments **********/
.editable{
    margin-left: 45px;
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    pointer-events: none;
    font-size: 17px;
    opacity: 0.5;
}

.profile-container{
    display: flex;
    align-items: center;
}

.profile-picture {
    object-fit: cover;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-info{
    margin-left: 5px;
}

.user {
    color: var(--brown);
}

.comment {
    margin-top: 20px;
    margin-left: 20px;
    border-left: 3px solid var(--pink1);
    padding-left: 10px;
    margin-bottom: 10px;
    
}
/* .comment .reply {
    margin-top: 20px;
    margin-left: 20px;
    border-left: 3px solid var(--pink1);
    padding-left: 10px;
    
} */

.comment button {
    margin-right: 20px;
    height: 30px;
    margin-left: auto;
    margin-right: 20px;
    border: 0px;
    outline: none;
    background: none;
    transition-duration: 0.4s;
    border-radius: 10px;
    font-weight: 500;
    font-size: medium;
    color: var(--pink5);
    cursor: pointer;
}

.collapse {
    display: none;
    
}

#comment-button{
    text-align: center;
    width: 120px;
    padding: 8px 20px;
    display: inline-block;
    background-color: #FB4570;
    color:#FFFFFF;
    border-radius: 50px;
    border-width: 1px;
    margin-top: 5px;
    cursor: pointer;
}


/* .comment-container{
    padding: 30px 20px;
} */